@{
    ViewBag.Title = "Forgot Password";
}

@using (Html.BeginForm())
{
    <div class="container w-25 form-control my-5 p-5">
        <h2>Forgot Password</h2>
    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group py-2 px-3">
            <label class="control-label col-md-12 my-2">Email ID</label>
                @Html.TextBox("EmailID", "",new { @class="form-control"})
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>

}
