@model apointify.Models.User

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter Your Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" asp-controller="ValidateUserLogin" asp-action="ValidateCustomerLogin" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn" asp-action="create">Create Account</a>
</div>





                 
@*@model apointify.Models.User
<html>
    @{
    Layout = "";
 }
<head>
        <meta charset="utf-8" />
        <title>Log In | Adminto - Responsive Admin Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

		<!-- App css -->

		<link href="assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

		<!-- icons -->
		<link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    </head>

    <body class="loading authentication-bg authentication-bg-pattern">

        <div class="account-pages my-5">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="text-center">   
                            <img src="assets/images/logo2.png" />

                        </div>
                        <div class="card">
                            <div class="card-body p-4">
                                
                                <div class="text-center mb-4">
                                    <h4 class="text-uppercase mt-0">Sign In</h4>
                                </div>

                                <form asp-controller="Login" asp-action="Index" method="post">
                                    <div class="mb-3">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />  
                                    </div>

                                    <div class="mb-3">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    </div>

                                    <div class="mb-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="checkbox-signin" checked>
                                            <label class="form-check-label" for="checkbox-signin">Remember me</label>
                                        </div>
                                    </div>

                                    <div class="mb-3 d-grid text-center">
                                    <input class="btn btn-primary" asp-controller="validateUserLogin" asp-action="ValidateCustomerLogin" value="Log In" type="submit">
                                </div>
                                </form>

                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p> <a href="pages-recoverpw.html" class="text-muted ms-1"><i class="fa fa-lock me-1"></i>Forgot your password?</a></p>
                                <p class="text-muted">Don't have an account? <a href="pages-register.html" class="text-dark ms-1"><b>Sign Up</b></a></p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

       
       
        
    </body>

</html>*@







@*<!doctype html>

<html language="en"
      class="       body--live body--mqjdv8ze ">
@{
    Layout = "";
}
<head>
    <title>Consultation Form</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <meta name="keywords" content="paperform,form online,registration,event,invitation,survey">
    <meta name="description"
          content=" - Powered by Paperform ">
    <meta property="og:url" content="http://mqjdv8ze.paperform.co">

    <meta property="og:site_name" content="Paperform">
    <meta property="og:publisher" content="Paperform">
    <link rel="alternate" type="application/json+oembed"
          href="https://paperform.co/services/oembed?url=http%3A%2F%2Fmqjdv8ze.paperform.co&format=json"
          title="Consultation Form" />
    <meta property="og:description"
          content=" - Powered by Paperform™ ">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="Consultation Form">
    <meta name="twitter:card" content="summary_large_image">
    
    <meta name="twitter:title" content="Consultation Form">
    <meta name="twitter:description" content="">

    <meta property="og:image:width" content="">
    <meta property="og:image:height" content="">
    <meta property="og:image"
          content="https://img.paperform.co/fetch/w_1800,f_jpg,c_limit/https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=MnwyMzEwMTZ8MHwxfHNlYXJjaHwzfHxjb25zdWx0YXRpb258ZW58MHx8fHwxNjI3NDYzMjM4&amp;ixlib=rb-1.2.1&amp;q=85">
    <meta name="twitter:image"
          content="https://img.paperform.co/fetch/w_1800,f_jpg,c_limit/https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=MnwyMzEwMTZ8MHwxfHNlYXJjaHwzfHxjb25zdWx0YXRpb258ZW58MHx8fHwxNjI3NDYzMjM4&amp;ixlib=rb-1.2.1&amp;q=85">


    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta charset="utf-8" name="description"
          content="Create beautiful forms easily.">
    <style type="text/css">
        body,
        html {
            padding: 0;
            margin: 0;
            height: 100%
        }
    </style>

    <link rel="stylesheet" type="text/css" href="https://duube1y6ojsji.cloudfront.net/form215fa0217e00ccad88fb.styles.css">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
          rel="stylesheet">

    <style>
        .spinner {
            background: rgba(6, 6, 68, 1) !important;
        }
    </style>
</head>

<body>
    <noscript>
        <div style="margin-top:50px;margin-left: 25px;font-family: Lato, sans-serif;">
            <h1>Oh dear..</h1>
            <h2>It looks like we were unable to load the form.</h2>
            <ul>
                <h3>You might like to try:</h3>
                <li>Refreshing the page</li>
                <li>Checking your network connection</li>
                <li>Using a different browser</li>
                <li>Checking your browser settings and extensions</li>
                <li>Loading the page in an incognito window</li>
                <li>Contacting <a href="mailto:support@paperform.co">Paperform Support</a></li>
            </ul>
        </div>
    </noscript>
    <div id='root'>
    </div>


    <a target="_blank" href="https://paperform.co?utm_source=footer&utm_medium=referral&utm_content=mqjdv8ze&utm_term=59886&business=" class="Footer">
        <span class="Footer__poweredby">Powered By Paperform</span>
    </a>

    <script>
        window._tzs = [{ "t": "Pacific\/Midway", "o": -11 }, { "t": "Pacific\/Niue", "o": -11 }, { "t": "Pacific\/Pago_Pago", "o": -11 }, { "t": "Pacific\/Honolulu", "o": -10 }, { "t": "Pacific\/Rarotonga", "o": -10 }, { "t": "Pacific\/Tahiti", "o": -10 }, { "t": "Pacific\/Marquesas", "o": -9.5 }, { "t": "America\/Adak", "o": -9 }, { "t": "Pacific\/Gambier", "o": -9 }, { "t": "America\/Anchorage", "o": -8 }, { "t": "America\/Juneau", "o": -8 }, { "t": "America\/Metlakatla", "o": -8 }, { "t": "America\/Nome", "o": -8 }, { "t": "America\/Sitka", "o": -8 }, { "t": "America\/Yakutat", "o": -8 }, { "t": "Pacific\/Pitcairn", "o": -8 }, { "t": "America\/Creston", "o": -7 }, { "t": "America\/Dawson", "o": -7 }, { "t": "America\/Dawson_Creek", "o": -7 }, { "t": "America\/Fort_Nelson", "o": -7 }, { "t": "America\/Hermosillo", "o": -7 }, { "t": "America\/Los_Angeles", "o": -7 }, { "t": "America\/Mazatlan", "o": -7 }, { "t": "America\/Phoenix", "o": -7 }, { "t": "America\/Tijuana", "o": -7 }, { "t": "America\/Vancouver", "o": -7 }, { "t": "America\/Whitehorse", "o": -7 }, { "t": "America\/Bahia_Banderas", "o": -6 }, { "t": "America\/Belize", "o": -6 }, { "t": "America\/Boise", "o": -6 }, { "t": "America\/Cambridge_Bay", "o": -6 }, { "t": "America\/Chihuahua", "o": -6 }, { "t": "America\/Ciudad_Juarez", "o": -6 }, { "t": "America\/Costa_Rica", "o": -6 }, { "t": "America\/Denver", "o": -6 }, { "t": "America\/Edmonton", "o": -6 }, { "t": "America\/El_Salvador", "o": -6 }, { "t": "America\/Guatemala", "o": -6 }, { "t": "America\/Inuvik", "o": -6 }, { "t": "America\/Managua", "o": -6 }, { "t": "America\/Merida", "o": -6 }, { "t": "America\/Mexico_City", "o": -6 }, { "t": "America\/Monterrey", "o": -6 }, { "t": "America\/Regina", "o": -6 }, { "t": "America\/Swift_Current", "o": -6 }, { "t": "America\/Tegucigalpa", "o": -6 }, { "t": "America\/Yellowknife", "o": -6 }, { "t": "Pacific\/Easter", "o": -6 }, { "t": "Pacific\/Galapagos", "o": -6 }, { "t": "America\/Atikokan", "o": -5 }, { "t": "America\/Bogota", "o": -5 }, { "t": "America\/Cancun", "o": -5 }, { "t": "America\/Cayman", "o": -5 }, { "t": "America\/Chicago", "o": -5 }, { "t": "America\/Eirunepe", "o": -5 }, { "t": "America\/Guayaquil", "o": -5 }, { "t": "America\/Indiana\/Knox", "o": -5 }, { "t": "America\/Indiana\/Tell_City", "o": -5 }, { "t": "America\/Jamaica", "o": -5 }, { "t": "America\/Lima", "o": -5 }, { "t": "America\/Matamoros", "o": -5 }, { "t": "America\/Menominee", "o": -5 }, { "t": "America\/North_Dakota\/Beulah", "o": -5 }, { "t": "America\/North_Dakota\/Center", "o": -5 }, { "t": "America\/North_Dakota\/New_Salem", "o": -5 }, { "t": "America\/Ojinaga", "o": -5 }, { "t": "America\/Panama", "o": -5 }, { "t": "America\/Rankin_Inlet", "o": -5 }, { "t": "America\/Resolute", "o": -5 }, { "t": "America\/Rio_Branco", "o": -5 }, { "t": "America\/Winnipeg", "o": -5 }, { "t": "America\/Anguilla", "o": -4 }, { "t": "America\/Antigua", "o": -4 }, { "t": "America\/Aruba", "o": -4 }, { "t": "America\/Asuncion", "o": -4 }, { "t": "America\/Barbados", "o": -4 }, { "t": "America\/Blanc-Sablon", "o": -4 }, { "t": "America\/Boa_Vista", "o": -4 }, { "t": "America\/Campo_Grande", "o": -4 }, { "t": "America\/Caracas", "o": -4 }, { "t": "America\/Cuiaba", "o": -4 }, { "t": "America\/Curacao", "o": -4 }, { "t": "America\/Detroit", "o": -4 }, { "t": "America\/Dominica", "o": -4 }, { "t": "America\/Grand_Turk", "o": -4 }, { "t": "America\/Grenada", "o": -4 }, { "t": "America\/Guadeloupe", "o": -4 }, { "t": "America\/Guyana", "o": -4 }, { "t": "America\/Havana", "o": -4 }, { "t": "America\/Indiana\/Indianapolis", "o": -4 }, { "t": "America\/Indiana\/Marengo", "o": -4 }, { "t": "America\/Indiana\/Petersburg", "o": -4 }, { "t": "America\/Indiana\/Vevay", "o": -4 }, { "t": "America\/Indiana\/Vincennes", "o": -4 }, { "t": "America\/Indiana\/Winamac", "o": -4 }, { "t": "America\/Iqaluit", "o": -4 }, { "t": "America\/Kentucky\/Louisville", "o": -4 }, { "t": "America\/Kentucky\/Monticello", "o": -4 }, { "t": "America\/Kralendijk", "o": -4 }, { "t": "America\/La_Paz", "o": -4 }, { "t": "America\/Lower_Princes", "o": -4 }, { "t": "America\/Manaus", "o": -4 }, { "t": "America\/Marigot", "o": -4 }, { "t": "America\/Martinique", "o": -4 }, { "t": "America\/Montserrat", "o": -4 }, { "t": "America\/Nassau", "o": -4 }, { "t": "America\/New_York", "o": -4 }, { "t": "America\/Port-au-Prince", "o": -4 }, { "t": "America\/Port_of_Spain", "o": -4 }, { "t": "America\/Porto_Velho", "o": -4 }, { "t": "America\/Puerto_Rico", "o": -4 }, { "t": "America\/Santiago", "o": -4 }, { "t": "America\/Santo_Domingo", "o": -4 }, { "t": "America\/St_Barthelemy", "o": -4 }, { "t": "America\/St_Kitts", "o": -4 }, { "t": "America\/St_Lucia", "o": -4 }, { "t": "America\/St_Thomas", "o": -4 }, { "t": "America\/St_Vincent", "o": -4 }, { "t": "America\/Toronto", "o": -4 }, { "t": "America\/Tortola", "o": -4 }, { "t": "America\/Araguaina", "o": -3 }, { "t": "America\/Argentina\/Buenos_Aires", "o": -3 }, { "t": "America\/Argentina\/Catamarca", "o": -3 }, { "t": "America\/Argentina\/Cordoba", "o": -3 }, { "t": "America\/Argentina\/Jujuy", "o": -3 }, { "t": "America\/Argentina\/La_Rioja", "o": -3 }, { "t": "America\/Argentina\/Mendoza", "o": -3 }, { "t": "America\/Argentina\/Rio_Gallegos", "o": -3 }, { "t": "America\/Argentina\/Salta", "o": -3 }, { "t": "America\/Argentina\/San_Juan", "o": -3 }, { "t": "America\/Argentina\/San_Luis", "o": -3 }, { "t": "America\/Argentina\/Tucuman", "o": -3 }, { "t": "America\/Argentina\/Ushuaia", "o": -3 }, { "t": "America\/Bahia", "o": -3 }, { "t": "America\/Belem", "o": -3 }, { "t": "America\/Cayenne", "o": -3 }, { "t": "America\/Fortaleza", "o": -3 }, { "t": "America\/Glace_Bay", "o": -3 }, { "t": "America\/Goose_Bay", "o": -3 }, { "t": "America\/Halifax", "o": -3 }, { "t": "America\/Maceio", "o": -3 }, { "t": "America\/Moncton", "o": -3 }, { "t": "America\/Montevideo", "o": -3 }, { "t": "America\/Paramaribo", "o": -3 }, { "t": "America\/Punta_Arenas", "o": -3 }, { "t": "America\/Recife", "o": -3 }, { "t": "America\/Santarem", "o": -3 }, { "t": "America\/Sao_Paulo", "o": -3 }, { "t": "America\/Thule", "o": -3 }, { "t": "Antarctica\/Palmer", "o": -3 }, { "t": "Antarctica\/Rothera", "o": -3 }, { "t": "Atlantic\/Bermuda", "o": -3 }, { "t": "Atlantic\/Stanley", "o": -3 }, { "t": "America\/St_Johns", "o": -2.5 }, { "t": "America\/Miquelon", "o": -2 }, { "t": "America\/Noronha", "o": -2 }, { "t": "America\/Nuuk", "o": -2 }, { "t": "Atlantic\/South_Georgia", "o": -2 }, { "t": "Atlantic\/Cape_Verde", "o": -1 }, { "t": "Africa\/Abidjan", "o": 0 }, { "t": "Africa\/Accra", "o": 0 }, { "t": "Africa\/Bamako", "o": 0 }, { "t": "Africa\/Banjul", "o": 0 }, { "t": "Africa\/Bissau", "o": 0 }, { "t": "Africa\/Casablanca", "o": 0 }, { "t": "Africa\/Conakry", "o": 0 }, { "t": "Africa\/Dakar", "o": 0 }, { "t": "Africa\/El_Aaiun", "o": 0 }, { "t": "Africa\/Freetown", "o": 0 }, { "t": "Africa\/Lome", "o": 0 }, { "t": "Africa\/Monrovia", "o": 0 }, { "t": "Africa\/Nouakchott", "o": 0 }, { "t": "Africa\/Ouagadougou", "o": 0 }, { "t": "Africa\/Sao_Tome", "o": 0 }, { "t": "America\/Danmarkshavn", "o": 0 }, { "t": "America\/Scoresbysund", "o": 0 }, { "t": "Atlantic\/Azores", "o": 0 }, { "t": "Atlantic\/Reykjavik", "o": 0 }, { "t": "Atlantic\/St_Helena", "o": 0 }, { "t": "UTC", "o": 0 }, { "t": "Africa\/Algiers", "o": 1 }, { "t": "Africa\/Bangui", "o": 1 }, { "t": "Africa\/Brazzaville", "o": 1 }, { "t": "Africa\/Douala", "o": 1 }, { "t": "Africa\/Kinshasa", "o": 1 }, { "t": "Africa\/Lagos", "o": 1 }, { "t": "Africa\/Libreville", "o": 1 }, { "t": "Africa\/Luanda", "o": 1 }, { "t": "Africa\/Malabo", "o": 1 }, { "t": "Africa\/Ndjamena", "o": 1 }, { "t": "Africa\/Niamey", "o": 1 }, { "t": "Africa\/Porto-Novo", "o": 1 }, { "t": "Africa\/Tunis", "o": 1 }, { "t": "Atlantic\/Canary", "o": 1 }, { "t": "Atlantic\/Faroe", "o": 1 }, { "t": "Atlantic\/Madeira", "o": 1 }, { "t": "Europe\/Dublin", "o": 1 }, { "t": "Europe\/Guernsey", "o": 1 }, { "t": "Europe\/Isle_of_Man", "o": 1 }, { "t": "Europe\/Jersey", "o": 1 }, { "t": "Europe\/Lisbon", "o": 1 }, { "t": "Europe\/London", "o": 1 }, { "t": "Africa\/Blantyre", "o": 2 }, { "t": "Africa\/Bujumbura", "o": 2 }, { "t": "Africa\/Cairo", "o": 2 }, { "t": "Africa\/Ceuta", "o": 2 }, { "t": "Africa\/Gaborone", "o": 2 }, { "t": "Africa\/Harare", "o": 2 }, { "t": "Africa\/Johannesburg", "o": 2 }, { "t": "Africa\/Juba", "o": 2 }, { "t": "Africa\/Khartoum", "o": 2 }, { "t": "Africa\/Kigali", "o": 2 }, { "t": "Africa\/Lubumbashi", "o": 2 }, { "t": "Africa\/Lusaka", "o": 2 }, { "t": "Africa\/Maputo", "o": 2 }, { "t": "Africa\/Maseru", "o": 2 }, { "t": "Africa\/Mbabane", "o": 2 }, { "t": "Africa\/Tripoli", "o": 2 }, { "t": "Africa\/Windhoek", "o": 2 }, { "t": "Antarctica\/Troll", "o": 2 }, { "t": "Arctic\/Longyearbyen", "o": 2 }, { "t": "Europe\/Amsterdam", "o": 2 }, { "t": "Europe\/Andorra", "o": 2 }, { "t": "Europe\/Belgrade", "o": 2 }, { "t": "Europe\/Berlin", "o": 2 }, { "t": "Europe\/Bratislava", "o": 2 }, { "t": "Europe\/Brussels", "o": 2 }, { "t": "Europe\/Budapest", "o": 2 }, { "t": "Europe\/Busingen", "o": 2 }, { "t": "Europe\/Copenhagen", "o": 2 }, { "t": "Europe\/Gibraltar", "o": 2 }, { "t": "Europe\/Kaliningrad", "o": 2 }, { "t": "Europe\/Ljubljana", "o": 2 }, { "t": "Europe\/Luxembourg", "o": 2 }, { "t": "Europe\/Madrid", "o": 2 }, { "t": "Europe\/Malta", "o": 2 }, { "t": "Europe\/Monaco", "o": 2 }, { "t": "Europe\/Oslo", "o": 2 }, { "t": "Europe\/Paris", "o": 2 }, { "t": "Europe\/Podgorica", "o": 2 }, { "t": "Europe\/Prague", "o": 2 }, { "t": "Europe\/Rome", "o": 2 }, { "t": "Europe\/San_Marino", "o": 2 }, { "t": "Europe\/Sarajevo", "o": 2 }, { "t": "Europe\/Skopje", "o": 2 }, { "t": "Europe\/Stockholm", "o": 2 }, { "t": "Europe\/Tirane", "o": 2 }, { "t": "Europe\/Vaduz", "o": 2 }, { "t": "Europe\/Vatican", "o": 2 }, { "t": "Europe\/Vienna", "o": 2 }, { "t": "Europe\/Warsaw", "o": 2 }, { "t": "Europe\/Zagreb", "o": 2 }, { "t": "Europe\/Zurich", "o": 2 }, { "t": "Africa\/Addis_Ababa", "o": 3 }, { "t": "Africa\/Asmara", "o": 3 }, { "t": "Africa\/Dar_es_Salaam", "o": 3 }, { "t": "Africa\/Djibouti", "o": 3 }, { "t": "Africa\/Kampala", "o": 3 }, { "t": "Africa\/Mogadishu", "o": 3 }, { "t": "Africa\/Nairobi", "o": 3 }, { "t": "Antarctica\/Syowa", "o": 3 }, { "t": "Asia\/Aden", "o": 3 }, { "t": "Asia\/Amman", "o": 3 }, { "t": "Asia\/Baghdad", "o": 3 }, { "t": "Asia\/Bahrain", "o": 3 }, { "t": "Asia\/Beirut", "o": 3 }, { "t": "Asia\/Damascus", "o": 3 }, { "t": "Asia\/Famagusta", "o": 3 }, { "t": "Asia\/Gaza", "o": 3 }, { "t": "Asia\/Hebron", "o": 3 }, { "t": "Asia\/Jerusalem", "o": 3 }, { "t": "Asia\/Kuwait", "o": 3 }, { "t": "Asia\/Nicosia", "o": 3 }, { "t": "Asia\/Qatar", "o": 3 }, { "t": "Asia\/Riyadh", "o": 3 }, { "t": "Europe\/Athens", "o": 3 }, { "t": "Europe\/Bucharest", "o": 3 }, { "t": "Europe\/Chisinau", "o": 3 }, { "t": "Europe\/Helsinki", "o": 3 }, { "t": "Europe\/Istanbul", "o": 3 }, { "t": "Europe\/Kirov", "o": 3 }, { "t": "Europe\/Kyiv", "o": 3 }, { "t": "Europe\/Mariehamn", "o": 3 }, { "t": "Europe\/Minsk", "o": 3 }, { "t": "Europe\/Moscow", "o": 3 }, { "t": "Europe\/Riga", "o": 3 }, { "t": "Europe\/Simferopol", "o": 3 }, { "t": "Europe\/Sofia", "o": 3 }, { "t": "Europe\/Tallinn", "o": 3 }, { "t": "Europe\/Vilnius", "o": 3 }, { "t": "Europe\/Volgograd", "o": 3 }, { "t": "Indian\/Antananarivo", "o": 3 }, { "t": "Indian\/Comoro", "o": 3 }, { "t": "Indian\/Mayotte", "o": 3 }, { "t": "Asia\/Tehran", "o": 3.5 }, { "t": "Asia\/Baku", "o": 4 }, { "t": "Asia\/Dubai", "o": 4 }, { "t": "Asia\/Muscat", "o": 4 }, { "t": "Asia\/Tbilisi", "o": 4 }, { "t": "Asia\/Yerevan", "o": 4 }, { "t": "Europe\/Astrakhan", "o": 4 }, { "t": "Europe\/Samara", "o": 4 }, { "t": "Europe\/Saratov", "o": 4 }, { "t": "Europe\/Ulyanovsk", "o": 4 }, { "t": "Indian\/Mahe", "o": 4 }, { "t": "Indian\/Mauritius", "o": 4 }, { "t": "Indian\/Reunion", "o": 4 }, { "t": "Asia\/Kabul", "o": 4.5 }, { "t": "Antarctica\/Mawson", "o": 5 }, { "t": "Asia\/Aqtau", "o": 5 }, { "t": "Asia\/Aqtobe", "o": 5 }, { "t": "Asia\/Ashgabat", "o": 5 }, { "t": "Asia\/Atyrau", "o": 5 }, { "t": "Asia\/Dushanbe", "o": 5 }, { "t": "Asia\/Karachi", "o": 5 }, { "t": "Asia\/Oral", "o": 5 }, { "t": "Asia\/Qyzylorda", "o": 5 }, { "t": "Asia\/Samarkand", "o": 5 }, { "t": "Asia\/Tashkent", "o": 5 }, { "t": "Asia\/Yekaterinburg", "o": 5 }, { "t": "Indian\/Kerguelen", "o": 5 }, { "t": "Indian\/Maldives", "o": 5 }, { "t": "Asia\/Colombo", "o": 5.5 }, { "t": "Asia\/Kolkata", "o": 5.5 }, { "t": "Asia\/Kathmandu", "o": 5.75 }, { "t": "Antarctica\/Vostok", "o": 6 }, { "t": "Asia\/Almaty", "o": 6 }, { "t": "Asia\/Bishkek", "o": 6 }, { "t": "Asia\/Dhaka", "o": 6 }, { "t": "Asia\/Omsk", "o": 6 }, { "t": "Asia\/Qostanay", "o": 6 }, { "t": "Asia\/Thimphu", "o": 6 }, { "t": "Asia\/Urumqi", "o": 6 }, { "t": "Indian\/Chagos", "o": 6 }, { "t": "Asia\/Yangon", "o": 6.5 }, { "t": "Indian\/Cocos", "o": 6.5 }, { "t": "Antarctica\/Davis", "o": 7 }, { "t": "Asia\/Bangkok", "o": 7 }, { "t": "Asia\/Barnaul", "o": 7 }, { "t": "Asia\/Ho_Chi_Minh", "o": 7 }, { "t": "Asia\/Hovd", "o": 7 }, { "t": "Asia\/Jakarta", "o": 7 }, { "t": "Asia\/Krasnoyarsk", "o": 7 }, { "t": "Asia\/Novokuznetsk", "o": 7 }, { "t": "Asia\/Novosibirsk", "o": 7 }, { "t": "Asia\/Phnom_Penh", "o": 7 }, { "t": "Asia\/Pontianak", "o": 7 }, { "t": "Asia\/Tomsk", "o": 7 }, { "t": "Asia\/Vientiane", "o": 7 }, { "t": "Indian\/Christmas", "o": 7 }, { "t": "Asia\/Brunei", "o": 8 }, { "t": "Asia\/Choibalsan", "o": 8 }, { "t": "Asia\/Hong_Kong", "o": 8 }, { "t": "Asia\/Irkutsk", "o": 8 }, { "t": "Asia\/Kuala_Lumpur", "o": 8 }, { "t": "Asia\/Kuching", "o": 8 }, { "t": "Asia\/Macau", "o": 8 }, { "t": "Asia\/Makassar", "o": 8 }, { "t": "Asia\/Manila", "o": 8 }, { "t": "Asia\/Shanghai", "o": 8 }, { "t": "Asia\/Singapore", "o": 8 }, { "t": "Asia\/Taipei", "o": 8 }, { "t": "Asia\/Ulaanbaatar", "o": 8 }, { "t": "Australia\/Perth", "o": 8 }, { "t": "Australia\/Eucla", "o": 8.75 }, { "t": "Asia\/Chita", "o": 9 }, { "t": "Asia\/Dili", "o": 9 }, { "t": "Asia\/Jayapura", "o": 9 }, { "t": "Asia\/Khandyga", "o": 9 }, { "t": "Asia\/Pyongyang", "o": 9 }, { "t": "Asia\/Seoul", "o": 9 }, { "t": "Asia\/Tokyo", "o": 9 }, { "t": "Asia\/Yakutsk", "o": 9 }, { "t": "Pacific\/Palau", "o": 9 }, { "t": "Australia\/Adelaide", "o": 9.5 }, { "t": "Australia\/Broken_Hill", "o": 9.5 }, { "t": "Australia\/Darwin", "o": 9.5 }, { "t": "Antarctica\/DumontDUrville", "o": 10 }, { "t": "Antarctica\/Macquarie", "o": 10 }, { "t": "Asia\/Ust-Nera", "o": 10 }, { "t": "Asia\/Vladivostok", "o": 10 }, { "t": "Australia\/Brisbane", "o": 10 }, { "t": "Australia\/Hobart", "o": 10 }, { "t": "Australia\/Lindeman", "o": 10 }, { "t": "Australia\/Melbourne", "o": 10 }, { "t": "Australia\/Sydney", "o": 10 }, { "t": "Pacific\/Chuuk", "o": 10 }, { "t": "Pacific\/Guam", "o": 10 }, { "t": "Pacific\/Port_Moresby", "o": 10 }, { "t": "Pacific\/Saipan", "o": 10 }, { "t": "Australia\/Lord_Howe", "o": 10.5 }, { "t": "Antarctica\/Casey", "o": 11 }, { "t": "Asia\/Magadan", "o": 11 }, { "t": "Asia\/Sakhalin", "o": 11 }, { "t": "Asia\/Srednekolymsk", "o": 11 }, { "t": "Pacific\/Bougainville", "o": 11 }, { "t": "Pacific\/Efate", "o": 11 }, { "t": "Pacific\/Guadalcanal", "o": 11 }, { "t": "Pacific\/Kosrae", "o": 11 }, { "t": "Pacific\/Norfolk", "o": 11 }, { "t": "Pacific\/Noumea", "o": 11 }, { "t": "Pacific\/Pohnpei", "o": 11 }, { "t": "Antarctica\/McMurdo", "o": 12 }, { "t": "Asia\/Anadyr", "o": 12 }, { "t": "Asia\/Kamchatka", "o": 12 }, { "t": "Pacific\/Auckland", "o": 12 }, { "t": "Pacific\/Fiji", "o": 12 }, { "t": "Pacific\/Funafuti", "o": 12 }, { "t": "Pacific\/Kwajalein", "o": 12 }, { "t": "Pacific\/Majuro", "o": 12 }, { "t": "Pacific\/Nauru", "o": 12 }, { "t": "Pacific\/Tarawa", "o": 12 }, { "t": "Pacific\/Wake", "o": 12 }, { "t": "Pacific\/Wallis", "o": 12 }, { "t": "Pacific\/Chatham", "o": 12.75 }, { "t": "Pacific\/Apia", "o": 13 }, { "t": "Pacific\/Fakaofo", "o": 13 }, { "t": "Pacific\/Kanton", "o": 13 }, { "t": "Pacific\/Tongatapu", "o": 13 }, { "t": "Pacific\/Kiritimati", "o": 14 }]
        window._state = { "_id": "6108823aca41080117167671", "base_slug": "mqjdv8ze", "slug": "mqjdv8ze", "custom_slug": null, "original_form_id": null, "copy_of": null, "user_id": 59886, "team_id": 59886, "space_id": 66423, "version": null, "configuration": { "submission": { "confirmationTitle": "Thank you for reaching out", "confirmationBody": "Thanks! We have received your submission.", "buttonLabel": "Submit", "includeSubmitAnother": false, "emailNotificationsEnabled": true, "customConfirmationPagesEnabled": true, "screens": [{ "name": "Submission Success", "visibilityRules": [], "hasVisibilityRules": false, "definition": { "blocks": [{ "key": "8dda0", "text": "Thank you for reaching out.", "type": "header-two", "depth": 0, "inlineStyleRanges": [{ "offset": 0, "length": 27, "style": "center" }], "entityRanges": [], "data": [] }, { "key": "8ubdr", "text": "Our team is excited to begin working with you.", "type": "unstyled", "depth": 0, "inlineStyleRanges": [{ "offset": 0, "length": 46, "style": "center" }], "entityRanges": [], "data": [] }, { "key": "avipv", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "5vjab", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "5l3f9", "text": " ", "type": "atomic", "depth": 0, "inlineStyleRanges": [], "entityRanges": [{ "offset": 0, "length": 1, "key": 0 }], "data": [] }, { "key": "bqqv4", "text": "We have sent you a confirmation email.", "type": "header-two", "depth": 0, "inlineStyleRanges": [{ "offset": 0, "length": 38, "style": "center" }], "entityRanges": [], "data": [] }, { "key": "1n4c8", "text": "Stay safe, the team at WAVES.", "type": "unstyled", "depth": 0, "inlineStyleRanges": [{ "offset": 0, "length": 29, "style": "center" }], "entityRanges": [], "data": [] }], "entityMap": [{ "type": "image", "mutability": "IMMUTABLE", "data": { "uploading": false, "srcWidth": 500, "alignment": null, "width": 288.75, "srcHeight": 250, "url": "https:\/\/s3.amazonaws.com\/pf-upload-01\/u-55070\/1\/2021-07-28\/2c53oql\/WAVES.png", "targetSrc": null } }] }, "_i": 0 }], "emails": [] }, "integration": [], "payments": [], "details": { "title": "Consultation Form", "cover": { "url": "https:\/\/images.unsplash.com\/photo-1517245386807-bb43f82c33c4?crop=entropy&cs=srgb&fm=jpg&ixid=MnwyMzEwMTZ8MHwxfHNlYXJjaHwzfHxjb25zdWx0YXRpb258ZW58MHx8fHwxNjI3NDYzMjM4&ixlib=rb-1.2.1&q=85", "srcWidth": 5472, "srcHeight": 3648, "from": "unsplash", "src": "https:\/\/images.unsplash.com\/photo-1517245386807-bb43f82c33c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMzEwMTZ8MHwxfHNlYXJjaHwzfHxjb25zdWx0YXRpb258ZW58MHx8fHwxNjI3NDYzMjM4&ixlib=rb-1.2.1&q=80&w=400", "meta": { "description": "Gaining a deep understanding the problems that customers face is how you build products that provide value and grow. It all starts with a conversation. You have to let go of your assumptions so you can listen with an open mind and understand what\u2019s actually important to them. That way you can build something that makes their life better. Something they actually want to buy.", "alt_description": "black smartphone near person", "id": "5QgIuuBxKwM" } } }, "calculations": [] }, "definition": { "blocks": [{ "key": "3a52e", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "a562", "text": " ", "type": "atomic", "depth": 0, "inlineStyleRanges": [], "entityRanges": [{ "offset": 0, "length": 1, "key": 0 }], "data": [] }, { "key": "ea7a0", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "b97fn", "text": "Free Consultation", "type": "header-two", "depth": 0, "inlineStyleRanges": [{ "offset": 0, "length": 17, "style": "center" }], "entityRanges": [], "data": [] }, { "key": "4i1nt", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "fsqia", "text": " ", "type": "atomic", "depth": 0, "inlineStyleRanges": [], "entityRanges": [{ "offset": 0, "length": 1, "key": 1 }], "data": [] }, { "key": "ei9v9", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "659bi", "text": "WAVES Strategy and Consulting", "type": "unstyled", "depth": 0, "inlineStyleRanges": [{ "offset": 0, "length": 29, "style": "center" }], "entityRanges": [], "data": [] }, { "key": "etqa", "text": "23 Hawk Street", "type": "unstyled", "depth": 0, "inlineStyleRanges": [{ "offset": 0, "length": 14, "style": "center" }], "entityRanges": [{ "offset": 0, "length": 14, "key": 2 }], "data": [] }, { "key": "4f07v", "text": "Manhattan Beach, California 1927 United States", "type": "unstyled", "depth": 0, "inlineStyleRanges": [{ "offset": 0, "length": 46, "style": "center" }], "entityRanges": [{ "offset": 0, "length": 46, "key": 2 }], "data": [] }, { "key": "83m88", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "8sj16", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "aai05", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "7tqfm", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "4d3ga", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "9gci", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "8epou", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "9fgvo", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "cng7c", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "chabp", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "f5nag", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "epbq7", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "54ldp", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }, { "key": "fs2u4", "text": "", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }], "entityMap": [{ "type": "image", "mutability": "IMMUTABLE", "data": { "targetSrc": null, "width": 296.1875305175781, "alignment": null, "srcWidth": 500, "srcHeight": 250, "url": "https:\/\/s3.amazonaws.com\/pf-upload-01\/u-55070\/1\/2021-07-28\/nx33oat\/WAVES.png", "uploading": false } }, { "type": "fieldSection", "mutability": "IMMUTABLE", "data": { "fields": [{ "title": "First name", "type": "text", "required": true, "hasVisibilityRules": false, "visibilityRules": [], "key": "1ti1f", "multiLine": false, "multiLineRows": 1, "titleRichContent": { "blocks": [{ "key": "aoacn", "text": "First name", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }], "entityMap": [] }, "half": true }, { "title": "Last name", "type": "text", "required": true, "hasVisibilityRules": false, "visibilityRules": [], "key": "11vhq", "multiLine": false, "multiLineRows": 1, "titleRichContent": { "blocks": [{ "key": "aoacn", "text": "Last name", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }], "entityMap": [] }, "half": true }, { "title": "Contact email", "type": "email", "required": true, "hasVisibilityRules": false, "visibilityRules": [], "key": "5gcb3", "titleRichContent": { "blocks": [{ "key": "2cla8", "text": "Contact email", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }], "entityMap": [] } }, { "title": "Contact number", "type": "phone", "required": true, "hasVisibilityRules": false, "visibilityRules": [], "key": "2s7g7", "titleRichContent": { "blocks": [{ "key": "1ei5k", "text": "Contact number", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }], "entityMap": [] } }, { "title": "Company", "type": "text", "required": true, "hasVisibilityRules": false, "visibilityRules": [], "key": "ds33q", "titleRichContent": { "blocks": [{ "key": "1ei5k", "text": "Company", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }], "entityMap": [] }, "multiLine": false, "multiLineRows": 1 }, { "title": "Additional comments", "type": "text", "required": true, "hasVisibilityRules": false, "visibilityRules": [], "key": "147ud", "multiLine": true, "multiLineRows": 3, "titleRichContent": { "blocks": [{ "key": "fe9qm", "text": "Additional comments", "type": "unstyled", "depth": 0, "inlineStyleRanges": [], "entityRanges": [], "data": [] }], "entityMap": [] } }] } }, { "type": "LINK", "mutability": "MUTABLE", "data": { "url": "yourlink" } }] }, "payment_source": null, "payment_source_id": null, "theme": { "textGroups": [{ "name": "h1", "label": "Heading 1", "fontWeight": "700", "fontSize": 42, "fontFamily": "{{secondaryFont}}", "color": "{{textColor}}" }, { "name": "h2", "label": "Heading 2", "fontWeight": "regular", "fontSize": 48, "fontFamily": "Alegreya", "color": "{{textColor}}" }, { "name": "body", "label": "Paragraph", "fontWeight": "regular", "fontSize": 18, "fontFamily": "Montserrat", "color": "rgba(6, 6, 68, 1)" }, { "name": "question", "label": "Question title", "fontWeight": "regular", "fontSize": 18, "fontFamily": "Montserrat", "color": "rgba(197, 139, 139, 1)" }, { "name": "question_description", "label": "Question description", "fontWeight": "regular", "fontSize": 14, "fontFamily": "Montserrat", "color": "rgba(6, 6, 68, 1)" }], "backgroundOverlay": "rgba(255, 255, 255, 0.71)", "secondaryFont": "Lato", "warningColor": "#ffa3a3", "submitButtonStyle": "Round", "submitButtonTextGroup": { "fontWeight": "400", "fontSize": 24, "fontFamily": "{{primaryFont}}", "color": "rgba(255, 255, 255, 1)" }, "paginationColor": "{{activeColor}}", "removeQuestionsToGo": true, "removeBoxShadows": false, "backgroundImage": { "url": "https:\/\/images.unsplash.com\/photo-1517245386807-bb43f82c33c4?crop=entropy&cs=srgb&fm=jpg&ixid=MnwyMzEwMTZ8MHwxfHNlYXJjaHwzfHxjb25zdWx0YXRpb258ZW58MHx8fHwxNjI3NDYzMjM4&ixlib=rb-1.2.1&q=85", "srcWidth": 5472, "srcHeight": 3648, "from": "unsplash", "src": "https:\/\/images.unsplash.com\/photo-1517245386807-bb43f82c33c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMzEwMTZ8MHwxfHNlYXJjaHwzfHxjb25zdWx0YXRpb258ZW58MHx8fHwxNjI3NDYzMjM4&ixlib=rb-1.2.1&q=80&w=400", "meta": { "description": "Gaining a deep understanding the problems that customers face is how you build products that provide value and grow. It all starts with a conversation. You have to let go of your assumptions so you can listen with an open mind and understand what\u2019s actually important to them. That way you can build something that makes their life better. Something they actually want to buy.", "alt_description": "black smartphone near person", "id": "5QgIuuBxKwM" } }, "themeForm": true, "color1": "", "color2": "", "questionBackgroundColor": "#FFFFFF", "color3": "", "color4": "", "primaryFont": "Lato", "removeRequiredAsterisk": true, "backgroundBlur": 3.19, "backgroundColor": "rgba(255,255,255,0)", "v": 2, "textColor": "rgba(6, 6, 68, 1)", "paginationTextGroup": { "fontWeight": "400", "fontSize": 16, "fontFamily": "{{primaryFont}}", "color": "#FFF" }, "submitButtonColor": "rgba(6, 6, 68, 1)", "activeColor": "rgba(6, 6, 68, 1)", "needsGoogleFonts": true }, "translation_id": null, "timezone_offset_minutes": 0, "currency": null, "live": true, "plan": "agency", "fields_with_answers": null, "form_transfer_id": null, "tags": null, "sold": null, "embedded": true, "copied_from_slug": null, "form_template_id": null, "is_template": null, "updated_at": "2021-08-02 23:39:38", "created_at": "2021-08-02 23:39:38", "deleted_at": null };
        window._edit = false;
        window._inj = 0;
        window._is_ppradmin = 0;
        window._ppradmin_user = "";
        window._user = "";
        window._ff = { "auth.embedded_only": false, "sub_users": true, "forms.icon": true, "forms.answer_piping": true, "forms.calculations": true, "forms.color_picker": true, "forms.google_address": false, "forms.signature": true, "forms.scheduled_open_times": true, "forms.custom_closed_pages": true, "forms.custom_url": true, "forms.html": true, "forms.custom_css": true, "custom_domains": true, "api": true, "forms.custom_pdfs": true, "forms.webhooks": true, "forms.custom_success_pages": true, "analytics": true, "partial_submissions": true, "forms.custom_analytics": true, "dashboard": true, "dashboard.spaces": true, "dashboard.referral": true, "dashboard.logout": true, "dashboard.account_settings": true, "account": true, "account.details": true, "account.translations": true, "account.services": true, "account.billing": true, "account.receipts": false, "account.users": true, "account.security": true, "account.gdpr": true, "account.transfers": true, "account.create_transfers": true, "editor": true, "editor.import_theme": true, "editor.theme_advanced": true, "editor.details": true, "editor.payments": true, "editor.analytics": true, "editor.behavior": true, "editor.emails": true, "editor.success_pages": true, "editor.custom_pdfs": true, "editor.integrations": true, "editor.direct_integrations": true, "editor.zapier": true, "editor.webhooks": true, "editor.share_section": true, "editor.configure_section": true, "editor.after_section": true, "editor.share_social": true, "editor.embed": true, "editor.view": true, "editor.theme": true, "editor.theme_transparent_default": false, "editor.site": false, "can_email_consent": true, "notification_email_supersedes": false, "can_disable_branding": true, "branding_always_disabled": false, "doo": false, "inapp.help": true, "inapp.support": true, "integration.notion": true, "integration.adobe": true, "editor.share_template": true, "forms.create_from_shared_template": true, "papersign": false, "permissions-v2": false, "chargebee": true, "billing.chargebee": false, "account.sso": false };
        window._usage_limits = { "forms.appointments": null, "payment_source_limit": null, "teams.seats": null, "custom_domains": null, "total_submission_storage": null };
        window._permissions = { "permissions": [], "resource_permissions": [] };
        window._app = { "url": "https:\/\/paperform.co" }


        window._user_files_bucket_config = { "access_key": "AKIAIF7PPHJ3FWGVXQCA", "region": "us-east-1", "bucket": "pf-user-files-01", "aws_url": "https:\/\/s3.amazonaws.com", "private": false, "signature_version": 4, "base_path": "u-59886\/uploads", "signer_url": "\/storage\/sign_auth\/user-files\/59886", "time_url": "\/storage\/sign_auth\/time" };
        window._translation = { "language": "English", "title": "English (Paperform)", "rtl": false, "mapping": { "submitting": "Submitting...", "submitAnother": "Submit another", "submissionsClosed": "Submissions are closed.", "soldout": "SOLD OUT", "submissionFailedUnknown": "Something went wrong while trying to submit. Please try again.", "submissionFailedKnown": "Please fill out all of the questions correctly.", "continue": "Continue", "cancel": "Cancel", "checkout_cc": "Credit Card", "checkout": "Checkout", "checkout_summary": "More...", "checkout__stripe_choose": "Choose Payment Method", "checkout_stripe_name": "Name", "checkout_stripe_email": "Email Address", "checkout_stripe_blocked": "Too many failed payment attempts. Please try again later.", "checkout_back": "Back", "checkout_name": "Name on card", "checkout_receiptEmail": "Receipt email", "checkout_card": "Credit Card", "checkout_number": "Card Number", "checkout_or": "Or", "checkout_cvc": "CVC", "checkout_tax": "Tax", "checkout_total": "Total", "checkout_processing_fee": "Processing Fee", "checkout_calculated": "Calculated Pricing", "checkout_authorizedOnly": "You are authorizing this charge to be processed in the future.", "checkout_stripe_subAuthCharge": "A small verification charge may appear on your credit card statement, you will not be charged this value.", "checkout_willBeCharged": "You will be charged", "checkout_willBeAuthorized": "You are authorizing a charge of", "checkout_willBeChargedRecurring": "You will be subscribed to: ", "checkout_subscriptionIncludesTax": "Plus X tax.", "checkout_includingFee": "Inc X processing fee.", "checkout_square_pos": "Continue in Square POS app", "checkout_alipay": "Alipay", "checkout_bancontact": "Bancontact", "checkout_eps": "EPS", "checkout_giropay": "Giropay", "checkout_ideal": "iDEAL", "checkout_p24": "Przelewy24", "checkout_wechat": "WeChat Pay", "day": "Day", "week": "Week", "month": "Month", "year": "Year", "days": "Days", "weeks": "Weeks", "months": "Months", "years": "Years", "hours": "Hours", "minutes": "Minutes", "ampm": "am\/pm", "hours_placeholder": "HH", "minutes_placeholder": "MM", "date_DD": "DD", "date_MM": "MM", "date_YYYY": "YYYY", "yes": "Yes", "no": "No", "other": "Other", "unit": "unit", "units": "units", "appointment_pickstarttime": "pick start time", "appointment_pickendtime": "pick end time", "appointment_availability": "appointment is not available", "address_search": "Search for address", "error_address_search": "No address found, add manually", "colorPicker__choose": "Pick a color", "subpremise": "Apartment\/Unit", "streetNumber": "Street Number", "street": "Street", "suburb": "City\/Suburb", "state": "State", "city": "City", "postcode": "Zip\/Post Code", "country": "Country", "latitude": "Latitude", "longitude": "Longitude", "address_line1": "Address line 1", "address_line2": "Address line 2", "choose_file": "Choose a file", "uploading_file": "Uploading X", "signature_confirmation": "Confirm signature", "answerOther": "Specify other...", "error_required": "This question is required", "error_email": "Please enter a valid email", "email_confirmation": "Confirm email address", "error_email_confirmation": "Email addresses don't match", "error_filetype": "\"X\" is not an allowed file type", "error_fileUploading": "File is still uploading", "error_url": "Please enter a valid URL", "error_signature": "Signature still uploading", "error_maxFilesReached": "The maximum number of files have been added", "error_maxMultipleFiles": "Too many files, the maximum is X", "error_minMultipleFiles": "Please upload at least X file(s)", "sign": "Sign here", "error_yesNo": "Please choose an answer", "error_number": "Please enter a number", "error_long": "Too long", "error_short": "Too short", "error_color": "Please enter a valid hex color", "error_minNumber": "Please enter a number greater than or equal to X", "error_maxNumber": "Please enter a number less than or equal to X", "error_integerOnly": "Please enter a whole number", "error_price": "Please enter a valid price", "error_date": "Please enter a valid date", "error_date_year": "Please choose a year", "error_date_month": "Please choose a month", "error_date_day": "Please choose a day", "error_date_futureonly": "Please choose a day in the future", "error_date_pastonly": "Please choose a day in the past", "error_time": "Please enter a valid time", "error_phone": "Please enter a valid phone number", "error_maxOptions": "Can only choose X or less options", "error_minOptions": "Choose X or more options", "error_other": "Please specify other", "error_creditCard": "Not a valid credit card number", "error_incompleteForm": "Please finish the form", "error_incorrectFields": "Please fill out all of the fields correctly", "error_incorrectFieldsPagination": "Please answer all required questions", "error_invalidOption": "The selected option \"{OPTION}\" no longer exists", "error_invalidOptions": "The selected options X no longer exist", "error_unknownFailure": "Something went wrong while trying to submit. Please try again.", "questiontogo": "1 question to go", "questionstogo": "X questions to go", "results_submittedAt": "Submitted At", "results_item": "Item", "results_total": "Total Amount", "results_quantity": "Quantity", "results_price": "Price", "results_totalNum": "Total", "results_id": "Submission ID", "results_subscription_id": "Subscription ID", "results_plan": "Plan", "results_interval": "Interval", "results_amount": "Amount", "score": "Score", "braintree_payingWith": "Paying with {{paymentSource}}", "braintree_chooseAnotherWayToPay": "Choose another way to pay", "braintree_chooseAWayToPay": "Choose a way to pay", "braintree_otherWaysToPay": "Other ways to pay", "braintree_browserNotSupported": "Browser not supported.", "braintree_fieldEmptyForCvv": "Please fill out a CVV.", "braintree_fieldEmptyForExpirationDate": "Please fill out an expiration date.", "braintree_fieldEmptyForCardholderName": "Please fill out a cardholder name.", "braintree_fieldEmptyForNumber": "Please fill out a card number.", "braintree_fieldEmptyForPostalCode": "Please fill out a postal code.", "braintree_fieldInvalidForCvv": "This security code is not valid.", "braintree_fieldInvalidForExpirationDate": "This expiration date is not valid.", "braintree_fieldInvalidForNumber": "This card number is not valid.", "braintree_fieldInvalidForPostalCode": "This postal code is not valid.", "braintree_genericError": "Something went wrong on our end.", "braintree_hostedFieldsFailedTokenizationError": "Please check your information and try again.", "braintree_hostedFieldsTokenizationCvvVerificationFailedError": "Credit card verification failed. Please check your information and try again.", "braintree_hostedFieldsTokenizationNetworkErrorError": "Network error. Please try again.", "braintree_hostedFieldsFieldsInvalidError": "Please check your information and try again.", "braintree_paypalAccountTokenizationFailedError": "Something went wrong adding the PayPal account. Please try again.", "braintree_paypalFlowFailedError": "Something went wrong connecting to PayPal. Please try again.", "braintree_paypalTokenizationRequestActiveError": "PayPal payment authorization is already in progress.", "braintree_unsupportedCardTypeError": "This card type is not supported. Please try another card.", "braintree_cardholderNameLabel": "Cardholder Name", "braintree_cardNumberLabel": "Card Number", "braintree_cvvLabel": "CVV", "braintree_cvvThreeDigitLabelSubheading": "(3 digits)", "braintree_cvvFourDigitLabelSubheading": "(4 digits)", "braintree_expirationDateLabel": "Expiration Date", "braintree_expirationDateLabelSubheading": "(MM\/YY)", "braintree_cardholderNamePlaceholder": "Cardholder Name", "braintree_expirationDatePlaceholder": "MM\/YY", "braintree_postalCodeLabel": "Postal Code", "braintree_payWithCard": "Pay with card", "braintree_endingIn": "Ending in {{lastFourCardDigits}}", "braintree_Card": "Card", "braintree_PayPal": "PayPal", "braintree_'PayPal Credit'": "PayPal Credit", "braintree_'American Express'": "American Express", "braintree_Discover": "Discover", "braintree_'Diners Club'": "Diners Club", "braintree_MasterCard": "MasterCard", "braintree_Visa": "Visa", "braintree_JCB": "JCB", "braintree_Maestro": "Maestro", "braintree_UnionPay": "UnionPay", "coupon": "Coupon", "coupon_invalid": "Invalid Coupon", "coupon_enter": "Enter Coupon", "apply_coupon": "Apply Coupon", "apply_coupon_applying": "Applying", "coupon_forever": "forever", "coupon_once": "once", "coupon_repeating_1": "for 1 month", "coupon_repeating_multiple": "for X months", "coupon_discount": "discount", "coupon_discount_off": "off", "coupon_applied_to": "applied to", "appt_start_date": "Start Date", "appt_stop_date": "End Date", "appt_start_time": "Start Time", "appt_stop_time": "Stop Time", "appt_invitee_emails": "Invitee Emails", "appt_timezone": "Timezone", "appt_description": "Description", "appt_location": "Location", "appt_title": "Title", "appt_search": "Search...", "appt_until": "\u2014", "agree": "I Agree", "disagree": "I Disagree", "error_product_min": "You must select at least X", "error_product_max": "You must select no more than X", "server_error_sold_out": "The maximum number of {name} you can purchase right now is {amount}.", "error_product_not_exist": "The product \"{SKU}\" no longer exists", "error_product_min_named": "You must select at least {amount} of {name} ({sku})", "error_product_max_named": "You must select no more than {amount} of {name} ({sku})", "text_shift_nl": "Press \"Shift \u21e7\" + \"Enter \u23ce\" to add a new line", "dropdown_no_results": "No results found" } };
    </script>



    <script src="https://duube1y6ojsji.cloudfront.net/215fa0217e00ccad88fb.form.min.js"></script>

    <script>
        window._paperform_grecaptcha_sitekey = "6LeCtfEUAAAAAO3mUGL3IUNTHKSYxr0Nf95tJK1g";
    </script>


</body>

</html>
*@