@model apointify.Models.User
@{
    ViewData["Title"] = "Index";
}
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter Your Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" asp-controller="ValidateUserLogin" asp-action="ValidateCustomerLogin" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a class="btn" asp-action="create">Create Account</a>
</div>*@






@{
    Layout = "";
}
<!doctype html>
<html lang="en">
<head>
    <title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="img js-fullheight vh-100" style="background-image: url(https://img.freepik.com/free-photo/flat-lay-clean-office-desk_23-2148219267.jpg?w=1480&t=st=1681797799~exp=1681798399~hmac=88db34d536f31dd4cdae9c9e094e1fc0474e5246940a2046a9a536ea13332b48);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-12 col-lg-5">
                    <div class="card px-5 rounded-3" style="background-color:#ffffff26">
                        <div class="login-wrap p-0">
                            <h3 class=" mt-5 mb-4 text-center">Welcome To Apointify</h3>
                            <form asp-action="Index">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" placeholder="Enter Your Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" placeholder="Password" />

                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <p class="text-danger">@ViewBag.message</p>
                                <div class="form-group">
                                    <input type="submit" value="Login" asp-controller="Login" asp-action="ValidateCustomerLogin" class="btn btn-primary" />
                                </div>
                            </form>

                            <p class="w-100 text-center mb-5"><span>Don't have an account</span><a asp-controller="Login" asp-action="SignUp">Sign up</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>

@section Script{
    <script>
        (function ($) {

            "use strict";

            var fullHeight = function () {

                $('.js-fullheight').css('height', $(window).height());
                $(window).resize(function () {
                    $('.js-fullheight').css('height', $(window).height());
                });

            };
            fullHeight();

            $(".toggle-password").click(function () {

                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });

        })(jQuery);

    </script>
}

