@{
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm())
{
    <div class="container w-25 form-control my-5 p-5">
        <h2>Forgot Password</h2>
        <div class="form-horizontal">
            <hr />
            <div class="text-success">
                @ViewBag.Message
            </div>
            <div class="form-group py-2 px-3">
                <label class="control-label col-md-12 my-2">Enter New password</label>
                @Html.TextBox("password", "" , new { @class="form-control" , @id = "password"})
                <span class="validation text-danger">Passwords must:<br>Be over 8 characters<br>Contain at least 1 Uppercase character<br>Contain lowercase character<br>Include a number <br>Include a special character</span>

            </div>
            <div class="form-group py-2 px-3">
                <label class="control-label col-md-12 my-2">Confirm Password</label>
                <input type="text" id="confirm_password" class="form-control" />
                <span class="validation text-danger">Please confirm your password</span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" onclick="test_str" class="btn btn-success" />


                </div>
            </div>
        </div>
    </div>

}
@section Script{
    <script type="text/javascript">
        var $password = $("#password");
        var $confirmPassword = $("#confirm_password");
        //Uppercase and number check variables
        var upperCase = new RegExp('[A-Z]');
        var numbers = new RegExp('[0-9]');
        var special = new RegExp("^(?=.[!#$%^&])");
        var lowercase = new RegExp("^(?=.*[a-z])");

        $('.validation').hide();

        //Password rules
        function isPasswordValid() {
            //Check length and then check that password has an uppercase
            return $password.val().length > 8 &&
                $password.val().match(upperCase) &&
                $password.val().match(numbers) &&
                $password.val().match(special) &&
                $password.val().match(lowercase);
        }

        function arePasswordsMatching() {
            return $password.val() === $confirmPassword.val();
        }

        //Can submit
        function canSubmit() {
            return isPasswordValid() && arePasswordsMatching();
        }

        //Check password is over 8 characters
        function passwordEvent() {

            if (isPasswordValid()) {
                $password.next().hide();
            } else {
                $password.next().show();
            }
        }

        //Check Passwords match
        function confirmPasswordEvent() {

            if (arePasswordsMatching()) {
                $confirmPassword.next().hide();
            } else {
                $confirmPassword.next().show();
            }
        }
        //Enable or disablethe submit button
        function enableSubmitEvent() {
            $('input[type=submit]').prop("disabled", !canSubmit());
        }

        //Run passwords length check
        $password.focus(passwordEvent).keyup(passwordEvent).keyup(confirmPasswordEvent).keyup(enableSubmitEvent);

        //Run passwords match check
        $confirmPassword.focus(confirmPasswordEvent).keyup(confirmPasswordEvent).keyup(enableSubmitEvent);

        //Run submit button function code
        enableSubmitEvent();

    </script>
}