
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - apointify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/apointify.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light text-light box-shadow bg-secondary">
            <div class="container-fluid">
                <a class="navbar-brand text-white fs-4 col-md-4" asp-area="" asp-controller="Home" asp-action="Index">Apointify</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-md-4 navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1 text-light d-flex justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link  text-white" asp-area="" asp-controller="Home" asp-action="EmployeeTable">EmployeeTable</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white" asp-area="" asp-controller="Home" asp-action="apiCall">Add Employee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white" asp-area="" asp-controller="Customer" asp-action="Index">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link  text-white" asp-area="" asp-controller="ServiceProvider" asp-action="Index">About Us</a>
                       </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white" asp-area="" asp-controller="ServiceProvider" asp-action="Index">ServiceProvider</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white" asp-area="" asp-controller="Login" asp-action="Index">ServiceProvider</a>
                        </li>
                    </ul>
                   <div class="col-md-4 d-flex justify-content-end">
                        <a class="w-50 nav-link text-white btn btn-primary" asp-area="" asp-controller="Login" asp-action="Index">Login / sign up</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="  footer text-muted bg-secondary">
        <div class="container text-white">
            &copy; 2023 - apointify - <a class="text-info" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @RenderSection("Script", required: false)
</body>
</html>
