@model IEnumerable<apointify.Models.ServiceProvider>

@{
    ViewData["Title"] = "Index";    
}

<h1 class="text-center">All service providers
</h1>
<section class="wrapper">
        <div class="content">
            <div class="container">
                <div class="row">@foreach (var item in Model)
                            {
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                                <img src="~/assets/img/portfolio/portfolio-3.jpg">
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a>
                                      @Html.DisplayFor(modelItem => item.FirmName)
                                    </a>
                                </h4>
                                <p class="">
                                    @Html.DisplayFor(modelItem => item.Address)
                                </p>
                                <p class="">
                                    @Html.DisplayFor(modelItem => item.MobileNumber)
                                </p>
                            </div>
                            
                            <div class="card-read-more">
                                <a asp-controller="Apointment" asp-action="Index" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
