

@{
    ViewData["title"] = "About Us";
}

<section id="about" class=" about section-bg" style="background-color:white">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
            <h3><span>Advanced booking features</span></h3>
            <p>Save time spent on coordinating appointments over phone and email with an all-in-one appointment booking software.</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <img src="https://images.unsplash.com/photo-1545239351-1141bd82e8a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGFwcG9pbnRtZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>Discover the easiest way to schedule appointments with the #1 online booking system</h3>

                <ul>
                    <li>
                        <i class="fa fa-laptop"></i>
                        <div>
                            <h5>Online Booking System</h5>
                            <p>Your Appointy’s online booking page will allow them to view real-time availability for services so that they can pick a time of their own convenience easily</p>
                        </div>
                    </li>
                    <li>

                        <i class="fa fa-calendar-check-o"></i>
                        <div>
                            <h5>Calendar Scheduler</h5>
                            <p>Easily identify gaps in your schedule to fill empty slots by accommodating walk-ins or promoting deals.</p>
                        </div>
                    </li>
                    <li>
                        <i class="fa-regular fa-bell"></i>
                        <div>
                            <h5>Appointment Alerts</h5>
                            <p>Your customers also receive automated appointment alerts so that they stay on top of their bookings without having to dial-in</p>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-users"></i>
                        <div>
                            <h5>Staff Scheduling & Management</h5>
                            <p>Assign staff or manager roles to your team members and let them manage their own schedules, leaves, etc.</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</section><!-- End About Section -->