@model apointify.VirtualModels.EmployeeVM

@{
    ViewData["Title"] = "apiCall";
    //Layout = "~/Views/Home/Login.cshtml";
}


<form>
    <div class="card w-50 m-auto mt-5">
        <div class="card-header">
            <h1>sign in /sign up</h1>
        </div>

        <div class="card-body">
            <form>
                <div class="form-group">

                    <input type="number" class="form-control" id="id" placeholder="0" disabled hidden>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Full Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Age</label>
                    <input type="number" class="form-control" id="age" aria-describedby="emailHelp" placeholder="Enter Age">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Salary</label>
                    <input type="number" class="form-control" id="salary" placeholder="salary">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Department</label>
                    <input type="text" class="form-control" id="department" placeholder="Department">
                </div>
                <a type="button" id="submit" class="btn btn-primary">Submit</a>
            </form>
        </div>
    </div>
</form>
@section Script{
    <script>
        $("#submit").click(function () {

            var name = $("#name").val()
            var age = $("#age").val()
            var salary = $("#salary").val()
            var department = $("#department").val()
            
            
            var data = new FormData();
            data.append("name", name);
            data.append("age", age);
            data.append("salary", salary);
            data.append("department", department);
            console.log(data)

            $.ajax({
                url: '@Url.Action("CreateEmployee", "Employee")',
                type: 'post',
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                success: function () {
                    window.location.href = '@Url.Action("EmployeeTable","Home")';

                }
            });

        });
    </script>

        }