@model apointify.VirtualModels.EmployeeVM

@{
    ViewData["Title"] = "editData";
    //Layout = "~/Views/Home/Login.cshtml";
}

<h1 class="text-white text-center">Edit Data</h1>

<hr />
<div class="row">
    <div class="col-md-4 text-white m-auto">
        <form asp-action="editData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="" disabled asp-for="Id"  id="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control"  id="Age"/>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" id="Salary"/>
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" id="Department"/>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="EmployeeTable">Back to List</a>
</div>



@section Script{
    <script>

        $("#submit").click(function () {

            var name = $("#Name").val()
            var age = $("#Age").val()
            var salary = $("#Salary").val()
            var department = $("#Department").val()
            var Id = $("#Id").val()


            var data = new FormData();
            data.append("name", name);
            data.append("age", age);
            data.append("salary", salary);
            data.append("department", department);
            data.append("id", Id);
            console.log(data)



            $.ajax({
                url: '@Url.Action("UpdateEmployee", "Employee")',
                type: 'post',
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                success: function () {
                    window.location.href = '@Url.Action("EmployeeTable","Home")';

                }
            });

        });
    </script>

        }

