@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

</div>
<div class="row justify-content-center">

<div class="border-0" style="width: 18rem;">
    <div class="image text-center fs-1 p-5">
            <i class="fa-solid fa-house fa-2xl"></i>
    </div>
        
    <div class="">
        <h5 class="text-center">Learn</h5>
        <p class="text-center">Learn the theory as you go through the question bank answer explanations</p>
    </div>
</div>
<div class="border-0" style="width: 18rem;">
        <div class="image text-center fs-1 p-5">
            <i class="fa-solid fa-house fa-2xl"></i>
        </div>
    <div class="">
        <h5 class="text-center">Practise</h5>
        <p class="text-center">Repetitive practise to grow your knowledge base</p>
    </div>
</div>
<div class="border-0" style="width: 18rem;">
        <div class="image text-center fs-1 p-5">
            <i class="fa-solid fa-house fa-2xl"></i>
        </div>
    <div class="">
        <h5 class="text-center">Apply</h5>
        <p class="text-center">Use your growing knowledge to solve clinical scenarios</p>
    </div>
</div>
<div class="border-0" style="width: 18rem;">
        <div class="image text-center fs-1 p-5">
            <i class="fa-solid fa-house fa-2xl"></i>
        </div>
    <div class="">
        <h5 class="text-center">Reflect</h5>
        <p class="text-center">Look at your performance and refine your practice</p>
    </div>
</div>
    <div class="border-0" style="width: 18rem;">
        <div class="image text-center fs-1 p-5">
            <i class="fa-solid fa-house fa-2xl"></i>
        </div>
        <div class="">
            <h5 class="text-center">Reflect</h5>
            <p class="text-center">Look at your performance and refine your practice</p>
        </div>
    </div>
    <div class="border-0" style="width: 18rem;">
        <div class="image text-center fs-1 p-5">
            <i class="fa-solid fa-house fa-2xl"></i>
        </div>
    <div class="">
        <h5 class="text-center">Reflect</h5>
        <p class="text-center">Look at your performance and refine your practice</p>
    </div>
</div>
<div class="border-0" style="width: 18rem;">
        <div class="image text-center fs-1 p-5">
            <i class="fa-solid fa-house fa-2xl"></i>
        </div>
    <div class="">
        <h5 class="text-center">Reflect</h5>
        <p class="text-center">Look at your performance and refine your practice</p>
    </div>
</div>
<div class="border-0" style="width: 18rem;">
        <div class="image text-center fs-1 p-5">
            <i class="fa-solid fa-house fa-2xl"></i>
        </div>
    <div class="">
        <h5 class="text-center">Reflect</h5>
        <p class="text-center">Look at your performance and refine your practice</p>
    </div>
</div>
<div class="border-0" style="width: 18rem;">
        <div class="image text-center fs-1 p-5">
            <i class="fa-solid fa-house fa-2xl"></i>
        </div>
    <div class="">
        <h5 class="text-center">Reflect</h5>
        <p class="text-center">Look at your performance and refine your practice</p>
    </div>

</div>
        </div>