@inject IHttpContextAccessor _contx;




@{
    ViewData["Title"] = "Home Page";
}
<h1>
    @_contx.HttpContext.Session.GetString("User")
</h1>
<h1>
    @_contx.HttpContext.Session.GetString("UserId")

</h1>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

   
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <div class="container-fluid">
                <div class="background">
                </div>
                <img src="https://www.moh.gov.sa/en/eServices/Sehhaty/PublishingImages/2022-08-18-002.png" class="w-100" alt="...">
            </div>

            <div class="carousel-caption d-none d-sm-block">
                
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid">
                <div class="background">
                </div>
                <img src="https://www.apptunix.com/blog/wp-content/uploads/sites/3/2019/03/salon.jpg" class="w-100" alt="...">
            </div>

            <div class="carousel-caption d-none d-sm-block mx-5">
                
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid">
                <div class="background">
                </div>
                <img src="https://cdn0.weddingwire.in/vendor/6395/3_2/960/jpg/wedding-decorators-chopra-decors-wedding-decor-13_15_406395-164924642661684.webp" class="w-100" alt="...">
            </div>

            <div class="carousel-caption d-none d-sm-block h-75 mx-5">
                
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev" aria-hidden="true"></span>
        <i class="fa-solid fa-arrow-left fs-1 visually-hidden"></i>

    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next" aria-hidden="true"></span>
        <i class="fa-solid fa-arrow-right visually-hidden fs-1"></i>

    </button>
</div>






<div class="row justify-content-center">

    <div class="border-0 col-md-4">
        <div class="text-center fs-1 p-5">
            <i class="fa-solid fa-hospital fa-2xl"></i>
        </div>

        <div class="">
            <h5 class="text-center">Hospital</h5>
            <p class="text-center px-5"></p>
        </div>
        
            <p class="btn text-dark fs-4 col-md-4 m-auto"></p>
          
       
    </div>
    <div class="border-0 col-md-4">
        <div class="image text-center fs-1 p-5">
            <i class="fa-solid fa-scissors fa-2xl"></i>
        </div>
        <div class="">
            <h5 class="text-center">Saloon & beauty</h5>
            <p class="text-center">Repetitive practise to grow your knowledge base</p>
        </div>
    </div>
    <div class="border-0 col-md-4">
        <div class="image text-center fs-1 p-5">
            <i class="fa-sharp fa-solid fa-dumbbell fa-2xl"></i>
        </div>
        <div class="">
            <h5 class="text-center">Fitness & Care</h5>
            <p class="text-center">Use your growing knowledge to solve clinical scenarios</p>
        </div>
    </div>
    <div class="border-0 col-md-4">
        <div class="image text-center fs-1 p-5">
            <i class="fa-solid fa-house fa-2xl"></i>
        </div>
        <div class="">
            <h5 class="text-center">Reflect</h5>
            <p class="text-center">Look at your performance and refine your practice</p>
        </div>
    </div>
    <div class="border-0 col-md-4">
        <div class="image text-center fs-1 p-5">
            <i class="fa-solid fa-house fa-2xl"></i>
        </div>
        <div class="">
            <h5 class="text-center">Reflect</h5>
            <p class="text-center">Look at your performance and refine your practice</p>
        </div>
    </div>
    <div class="border-0 col-md-4">
        <div class="image text-center fs-1 p-5">
            <i class="fa-solid fa-house fa-2xl"></i>
        </div>
        <div class="">
            <h5 class="text-center">Reflect</h5>
            <p class="text-center">Look at your performance and refine your practice</p>
        </div>
    </div>



</div>
      