@inject IHttpContextAccessor _contx;
@{
    ViewData["Title"] = "Home Page";
}
<section id="hero" class="d-flex align-items-center">
    <div class=" main_text container" data-aos="zoom-out" data-aos-delay="100">
        <h1>Welcome to <span>Apointify</span></h1>
        <h2>Book your apointment</h2>
        <div class="d-flex">
            <a asp-controller="login" asp-action="Index" class="btn-get-started scrollto">Get Started</a>
            <a href="https://youtu.be/9d8DXXc71RI" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
    </div>
</section>

<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
        <h1 class="text-center">
            Appointify - simple, functional, powerful: no compromises!
        </h1>
        <p class="text-center fs-5">Our online appointment scheduling software has everything you need to grow & manage your business in one easy-to-use and powerful user interface</p>
        <div class="row">
            
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon text-center"><i class="fa-sharp fa-regular fa-calendar-check" style="font-size:100px;"></i></div>
                    <h4 class="title text-center"><a class="text-center" href="">Schedule online</a></h4>
                    <p class="description text-center">Eliminate email/call back-and-forth with web-based scheduling</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon text-center "><i class="fa-solid fa-bolt" style="font-size:100px;"></i></div>
                    <h4 class="title text-center"><a class="text-center" href="">Boost productivity</a></h4>
                    <p class="description text-center">Automate daily tasks to improve staff productivity and manage your entire schedule in one place</p>
                </div>
            </div>


            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon text-center "><i class="fa-solid fa-magnet" style="font-size:100px;"></i></div>
                    <h4 class="title text-center"><a class="text-center" href="">Attract customers</a></h4>
                    <p class="description text-center">Get bookings directly from Facebook, Instagram, Google, and your business website</p>
                </div>
            </div>

            

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon text-center"><i class="fa-solid fa-recycle" style="font-size:100px;"></i></div>
                    <h4 class="title text-center"><a class="text-center" href="">Retain customers</a></h4>
                    <p class="description text-center">Understand your customers better and deliver personalized experiences</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Featured Services Section -->
<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
            <h3><span>Advanced booking features</span></h3>
            <p>Save time spent on coordinating appointments over phone and email with an all-in-one appointment booking software.</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <img src="https://images.unsplash.com/photo-1545239351-1141bd82e8a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGFwcG9pbnRtZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>Discover the easiest way to schedule appointments with the #1 online booking system</h3>
              
                <ul>
                    <li>
                        <i class="fa fa-laptop"></i>
                        <div>
                            <h5>Online Booking System</h5>
                            <p>Your Appointy’s online booking page will allow them to view real-time availability for services so that they can pick a time of their own convenience easily</p>
                        </div>
                    </li>
                    <li>
                  
                        <i class="fa fa-calendar-check-o"></i>
                        <div>
                            <h5>Calendar Scheduler</h5>
                            <p>Easily identify gaps in your schedule to fill empty slots by accommodating walk-ins or promoting deals.</p>
                        </div>
                    </li>
                    <li>
                        <i class="fa-regular fa-bell"></i>
                        <div>
                            <h5>Appointment Alerts</h5>
                            <p>Your customers also receive automated appointment alerts so that they stay on top of their bookings without having to dial-in</p>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-users"></i>
                        <div>
                            <h5>Staff Scheduling & Management</h5>
                            <p>Assign staff or manager roles to your team members and let them manage their own schedules, leaves, etc.</p>
                        </div>
                    </li>
                </ul>
               
            </div>
        </div>

    </div>
</section><!-- End About Section -->




<!-- ======= Skills Section ======= -->
<section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

        <div class="section-title row">
            <h3 class="my-4">  <span> Steps</span></h3>
        </div>
        <div class="row gx-5">
            <div class="col-3">
                <img src="~/Image/login1.png" class="w-50 mb-4 mx-auto d-block"></img>
            
                <p class="line-text text-center">1</p>
                <div class ="line"> </div>
                <p class="text-center  mt-4">Click on login.</p>
            </div>
              <div class="col-3">
                <img src="~/Image/registration.png" class="w-50 mb-4 mx-auto d-block"></img>
                <p class="line-text text-center">2</p>
                <div class="line"></div>
                <p class="text-center  mt-4">Register if you are new user or new service provider.if you are service provider all upcomming schedule meeting display on screen after login.</p>
              </div>
            <div class="col-3">
            
                <img src="~/Image/appointment.png" class="w-50 mb-3 mx-auto d-block"></img>
                <p class="line-text text-center">3</p>
                <div class="line"></div>
                <p class="text-center  mt-4"> If you are user click on book appointment.</p>
            </div>
            <div class="col-3">
                <img src="~/Image/congras.png" class="w-50 mb-4 mx-auto d-block"></img>
                <p class="line-text text-center mt-4">4</p>
                <div class="line "></div>
                <p class="text-center mt-4"> Your appointment is <br> book sucessfully!!</p>
            </div>
        </div>


    </div>
</section>

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <h3><span>Contact Us</span></h3>
          
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-4 col-md-6">
                <div class="info-box mb-4">
                    <i class="bx bx-map"></i>
                    <h3>Our Address</h3>
                    <p>A108 Adam Street, New York, NY 535022</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Us</h3>
                    <p>contact@example.com</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Us</h3>
                    <p>+1 5589 55488 55</p>
                </div>
            </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-6 ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.463607464506!2d70.8433362760879!3d22.822331223769687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39598dd7cd105153%3A0x384e86c8d39c8aa8!2sL.E%20college!5e0!3m2!1sen!2sin!4v1681463058095!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-lg-6">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section>





