@model IEnumerable<apointify.Models.Allappointment>;
@{
    ViewData["Title"] = "appointment";
}

<section style="background-image:url('https://images.unsplash.com/photo-1589925493429-9cc3c1900ef3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80    ')">
<div class="card bg-dark text-danger m-auto mt-5 mb-4 w-25">
    <h1 class="text-danger text-center">Your Appointments</h1>
</div>

<div class="container m-auto p-5">
    <div class="row ">
        @foreach (var item in Model)
        {
            <div class="card bg-dark text-white col-md-5 mx-auto">
                <div class="card-body p-5">
                    <p class="card-title fs-6 mb-3"> FirmName : @Html.DisplayFor(modelItem =>item.FirmName) </p>
                    <p class="card-title fs-6 mb-3"> AppointmentDate : @Html.DisplayFor(modelItem =>item.AppointmentDate)</p>
                    <p class="card-title fs-6 mb-3"> Time :@Html.DisplayFor(modelItem => item.TimeSlot) </p>
                    <p class="card-title fs-6 mb-3"> FirmMobile :@Html.DisplayFor(modelItem => item.FirmMobile) </p>
                    <p class="card-title fs-6 mb-3"> FirmAddress :@Html.DisplayFor(modelItem => item.FirmAddress) </p>
                    <p class="card-title fs-6 mb-3"> FirmAddress :@Html.DisplayFor(modelItem => item.FirmMobile) </p>
                    <p class="card-title fs-6 mb-3"> FirmAddress :@Html.DisplayFor(modelItem => item.FirmEmail) </p>
                    <p class="card-title fs-6 mb-3"> BookingInstructions :@Html.DisplayFor(modelItem => item.BookingInstructions) </p>
                    
                    <a asp-action="Cancle" onclick="confirm()" asp-route-id="@item.AppointmentId" class="btn btn-danger">Canlce Appointment</a>
                </div>
            </div>

        }
    </div>
    
</div>
</section>


@section Script{
    <script>
        function confirm(){
            alert();
        }
    </script>
}
