@using apointify.Models
@model IEnumerable<apointify.Models.Appointment>
@{
    ViewData["Title"] = "today's Appointment";
}

<div id="calendar" class="container my-5"></div>

@section Script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function () {

            var events = [];
            $.ajax({
                type: "GET",
                dataType: "JSON",
                url: '@Url.Action("Allappointment","Apointment")',
                success: function (data) {
                    console.log(data.data)
                    $.each(data.data, function (i, value) {
                        events.push({
                            title: value.bookingInstructions,
                            description: "Name:<b>" + value.usersname + "</b><br>Moblie Number:<b>" + value.userMobile + "</b><br>TimeSlot :<b>" + value.timeSlot + "</b><br>",
                            start: moment(value.appointmentDate).format("YYYY-MM-D") + "T" + (value.timeSlot),
                            backgroundColor: 'green',

                            allDay:true,

                        });
                    })
                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            });

            function GenerateCalender(events) {
                $("#calendar").fullCalendar('destroy');
                $("#calendar").fullCalendar({
                    contentHeight: 544,
                    editable: false,
                    header: {
                        left: 'prev next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    eventLimit: true,
                   
                    eventBorderColor:"black",
                    buttonText: {
                        today: 'Today',
                        month: 'Month',
                        basicWeek: 'Week',
                        basicDay: 'Day'
                    },
                    selectable: true,
                    weekends: false,
                    events: events,
                    defaultView: "month",
                    eventClick: function (info) {
                        alert('Event: ' + info.description);
                    },
                    eventRender: function (eventObj, $el) {
                        $el.popover({
                            title: eventObj.title,
                            content: eventObj.description,
                            trigger: 'hover',
                            html: true,
                            placement: 'top',
                            container: 'body'
                        });
                    },

                });
            }
        });
    </script>
}

