@model apointify.VirtualModels.AppointmentVM
@inject IHttpContextAccessor _contx;

@{
    ViewData["Title"] = "Create";
}

<h1>Cretae</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cretae">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirmId" class="control-label"></label>
                <input asp-for="FirmId" class="form-control" value="@ViewBag.Id">
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input  value="@_contx.HttpContext.Session.GetString("UserId")" asp-for="UserId" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSlot" class="control-label"></label>
                <input asp-for="TimeSlot" class="form-control" />
                <span asp-validation-for="TimeSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" asp-action="Book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#AppointmentDate").change(function(){

            $
        });
    </script>
