@model apointify.Models.Appointment

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<h4>Appointment</h4>

<hr />
<div class="row">


    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Firm" class="control-label"></label>
                <select asp-for="Firm" class ="form-control" asp-items="ViewBag.Firm"></select>
            </div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <select asp-for="User" class ="form-control" asp-items="ViewBag.User"></select>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="ServiceProvider" class="btn btn-info" asp-action="Index">Back to List</a>
</div>


